# Environments
.env

# Go
backend/argon-watch
backend/argon-watch.exe
backend/argon-watch-linux

# Data (Ignore all data files and credentials)
data/*
backend/data/*
*.jsonl
users.json

# Documentation (Exclude all MD except README)
*.md
!README.md


# Logs
*.log
